.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container{
    list-style: none;
}
.header-container li a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}